asgiref==3.8.1
Django==4.2.11
django-cors-headers==4.7.0
django-filter==24.1
djangorestframework==3.14.0
Markdown==3.5.2
mysqlclient==2.2.4
python-decouple==3.8
pytz==2025.2
sqlparse==0.5.3
tzdata==2025.2
